@import "compass";

@import "custom/colors";
@import "custom/typography";
@import "base";
@import "partials";
@import "custom/syntax";
@import "custom/styles";

.navbar-brand span, h1 span {
	display:block !important;
	font-size: 50% !important;
}
.page-header {
	margin-bottom: 0 !important;
}
body {
	background: url(/images/esback-black.jpg) no-repeat top left fixed !important;
	padding-top: 60px !important;
    padding-bottom: 40px !important;
}
.bs-callout {
	padding: 0.5em !important;
	margin: 0.3em 0 0.5em 0 !important;
	color: white !important;
	background: #111;
}
	.bs-callout-danger{
		border: 1px solid #E00 !important;
		border-left: 0.5em solid #E00 !important;
		h4 {color: #E00 !important;}
	}
	.bs-callout-warning {
		border: 1px solid #cc6d00 !important;
		border-left: 0.5em solid #cc6d00 !important;
		h4 {color: #cc6d00 !important;}
	}
	.bs-callout-info{
		border: 1px solid lighten(#7a29a3,30) !important;
		border-left: 0.5em solid lighten(#7a29a3,30) !important;
		h4 {color: lighten(#7a29a3,30) !important;}
	}
	
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F00;
}

.navbar-simple .brand {
 	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.navbar-simple .navbar-inner {
	xbackground: #fff !important;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25) !important;
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25) !important;
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25) !important;
	border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}
.navbar-simple .navbar-inner .nav {
	float: right !important;
}
.navbar-simple .navbar-inner .nav li a {
	background: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color: #777 !important;
	font-size: 13px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	font-weight: 600 !important;
}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color: #bf3604 !important;
}		
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604 !important;
}