{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">

    {% if page.description %}<meta name="description" content="{{ page.description | strip_html | condense_spaces | truncate:150 }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <link rel="icon" href="/assets/favicon.ico">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
      <link rel="canonical" href="{{ canonical }}">
      <link href="{{ root_url }}/favicon.png" type="image/png" rel="icon">
      <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Bootstrap theme -->
    <link href="/xassets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/doc.min.css" rel="stylesheet">
    <link href="/assets/css/screen.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type='text/javascript' src="/assets/js/espace.js"></script>
    <script type='text/javascript'> 
      $(document).ready(function() { init() });
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-575283-3']); _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      $(document).ready(function() {  makeHighlightable() });
    </script>
  </head>
  <body role='document'{% if page.body_id %} id="{{ page.body_id }}"{% endif %}{% if page.sidebar == false %} class="no-sidebar" {% endif %}{% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      <header role="banner">
{% include navigation.html %}
      </header>
      <div id="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ root_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ root_url }}/assets/bootstrap/js/modernizr-2.8.3.js"></script>
    {% include disqus.html %}
    {% include facebook_like.html %}
    {% include google_plus_one.html %}
    {% include twitter_sharing.html %}
<a style='display:none;' title="Web Statistics" href="http://clicky.com/100752142"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100752142); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100752142ns.gif" /></p></noscript>
  </body>
</html>
