<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class='dropdown-menu' role='menu'>
                 <li><a href='/Contributors'>Contributors</a></li>
                 <li><a target='_blank' href='http://groups.google.com/group/espacesociety'>Google Group</a></li>
                 <li><a href='{{root_url}}/bookmarks'>Bookmarks</a></li>
                 <li><a href='{{root_url}}/contributors'>Contributors</a></li>
                 <li><a href='{{root_url}}/mailing-lists'>Mailing Lists</a></li>
                 <li><a href='{{root_url}}/dictionary'>Dictionary</a></li>
               </ul>
            </li>
            <li><a href='{{root_url}}/events/events'>Events </a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Astro Empires <b class="caret"></b></a>
              <ul class="dropdown-menu" role='menu'>
                <li><a href='{{root_url}}/astro-empires/astro-empires'>Astro Empires</a></li>
                <li><a href='{{root_url}}/astro-empires/base-defense-guide'>Base Defense Guide</a></li>
                <li><a href='{{root_url}}/astro-empires/the-ten-seven-guide'>Ten-Seven Guide</a></li>
                <li><a href='{{root_url}}/astro-empires/advanced-base-guide'>Advanced Base Guide</a></li>
                <li><a href='{{root_url}}/astro-empires/articles'>Articles</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eve Online <b class="caret"></b></a>
              <ul class="dropdown-menu" role='menu'>
                <li><a href='/eve-online/eve-online'>Eve Online</a></li>
                <li><a href='/eve-online/recommended-skills'>Recommended Skills</a></li>
                <li><a href='/eve-online/tycoon'>Tycoon</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Macropedia Terradoma <b class="caret"></b></a>
              <ul class="dropdown-menu" role='menu'>
                <li><a href='/macropedia/imperium-edition'>Imperium Edition</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>