--- 
layout: default
klass: docs
---
{%- assign categories = "" | split:"|" %}

{%- for doc in site.astro-empires %}
  {%- for category in doc.categories  %}
  {%- assign categories = categories | push: category | uniq %}
  {%- endfor %}
{%- endfor %}
<div class="flex four">
    <aside class="one-quarter">
      <nav aria-label="Document Navigation">
        <!-- {{categories | join: ", "}} -->
        <!-- {{site.data.nav-categories | join: ", "}} -->
        {%- for category in site.data.nav-categories %}
        {% include nav-list.html category=category %}
        {%- endfor %}
      </nav>
    </aside>
    <article class="two-third">
      <header>
        <h1>
          {{page.title}}
          {% if page.subtitle %}
          <span>{{page.subtitle }}</span>
          {%endif%}
        </h1>
        Created: <time datetime='{{page.date}}'>{{page.date | date_to_long_string}}</time>
        {% if page.updated_at %}
        &middot; Updated: <time datetime='{{page.updated_at}}'>{{page.updated_at | date_to_long_string}}</time>
        {%endif%}
    </header>
        {{ content }}
    </article>
</div>